<!-- 🔝 Header -->
    <div class="container d-flex j-space-between">
        <nav class="main-nav">
            <ul class="d-flex j-space-between">
                <li><a href="/landing-page.html">Home</a></li>
                <li><a href="#">TVSeries</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TopAiring</a></li>
                <li><a href="#">MostPopular</a></li>
                <li><a href="/views/pages/404.html">404 page</a></li>
            </ul>
        </nav>

        <button id="themeToggleBtn">Toggle Theme</button>
    </div>