    <!-- 🔄 Main Content Area -->
    <main class="site-main container">
        <section class="hero-section">
            <div class="carousel">
                <div class="carousel-track"></div>

                <button class="carousel-btn prev">&#10094;</button>
                <button class="carousel-btn next">&#10095;</button>
            </div>
        </section>
        
        <section class="trending">
            <div class="trending-cards"></div>

            <button class="trending-btn prev">&#10094;</button>
            <button class="trending-btn next">&#10095;</button>

        </section>
        <section class="ads">ads</section>

        <section class="categories d-flex j-space-between">
            <div class="top-airing">Top Airing</div>
            <div class="most-popular">most-popular</div>
            <div class="most-favorite">most-favorite</div>
            <div class="latest-completed">latest-completed</div>
        </section>
    
    </main>
